.rodapeGeral{
    display: flex;
    justify-content: space-around;
    background: #6278F7;
    color: #FFF;
    align-items: center;
}
.redes{
    display: flex;
    justify-content: space-around;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
}
.redes img{
    padding-left: 10px;
}
.organo img{
    padding: 15px;
}